@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Quicksand', sans-serif;
    background: #eae9e6;
  }
}

@layer utilities {
  nav .menu {
    cursor: pointer;
  }
  nav .menu .bar {
    display: block;
    width: 27px;
    height: 0.2rem;
    border-radius: 4px;
    margin: 7px 0;
    background: black;
    transition: all 0.25s ease-in-out;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 8px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-7px, -5px);
  }

  header nav .list.active {
    position: absolute;
    left: 0px;
  }

  .icon-unduh {
    width: 10px;
    height: 10px;
  }
  .h-fitur {
    @apply hover:shadow-2xl hover:-translate-y-1 hover:scale-150 transition-transform duration-300;
  }
  
}
.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-80;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-7 h-[2px] my-[7px] block bg-triatry;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.box {
  @apply bg-triatry text-white w-48 rounded-xl p-3 mx-auto lg:w-56;
}

.card {
  @apply bg-lightf py-4 rounded-lg mb-3 pr-3;
}

ul li a {
  @apply text-base font-light text-nav py-2 mx-8 flex hover:font-semibold;
}

.nav-text {
  @apply text-sm md:text-base;
}

/* Page kontak */

.container-contact {
  @apply max-w-3xl md:max-w-6xl mx-auto text-center px-4 p-8;
}

.card-contact {
  @apply bg-bg2 py-4 rounded-lg mb-3 pr-3 text-sm px-6 flex justify-between items-center text-left;
}



.icon-unduh {
  @apply border border-red-700;
}

.hoveranImg {
  @apply hover:drop-shadow-xl hover:scale-105 transition-transform duration-1000
}


